.cart {
    background-color:  rgba(29,29,29, .9);
    padding: 10px 33px;
    width: 1285px;
    height: 500px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: none;
    overflow-y: scroll;
    &__items {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__close {
        position: absolute;
        top: 5px;
        right: 16px;
        font-size: 33px;
        color: #FFF;
        cursor: pointer;
    }
}