.cart {
    background-color:  rgba(29,29,29, .9);
    padding: 10px;
    width: 1285px;
    min-height: 480px;
    position: fixed;
    top: 14%;
    left: 50%;
    transform: translate(-50%);
    display: none;
    &__items {
        display: flex;
    }
    &__close {
        position: absolute;
        top: 5px;
        right: 16px;
        font-size: 33px;
        color: #FFF;
        cursor: pointer;
    }
}