.title {
    margin-top: 141px;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 91px;
    color: #000000;
    &_h2 {
        font-weight: bold;
        font-size: 40px;
        color: #000000;
        margin-top: 6px;
        line-height: 60px;
        &_center {
            text-align: center;
        }
    }
    &_way {
        font-weight: bold;
        font-size: 40px;
        color: #FFFFFF;
        line-height: 55px;
    }
    &_cart {
        margin-top: 10px;
        font-weight: bold;
        font-size: 40px;
        color: #FFFFFF;
        text-align: center;
    }
    &_subscribe {
        font-weight: bold;
        font-size: 40px;
        color: #FFFFFF;
    }
}